
<h2 align=center> Action Plan of {{college}}</h2>
<div class="table-responsive">
<table class="table table-bordered">
  <thead><tr>
      
     
     <td><b>Type of Project</b></td>
      <td><b>Title</b></td>
            <td><b>Tentative Finish Date</b></td>
      <td><b>Tentative Expenditure</b></td>
     
      
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let ap of actplan">
        
        <td>{{ap.top}}</td>
        <td>{{ap.tiop}}</td>
        
        <td>{{ap.tnop | date}}</td>
        <td>{{ap.exp}}</td>
       
     </tr>
    
  </tbody>
 
</table>
<div align=center>
<h3> Tentative exp on Construction is {{expconst}}</h3>
<h3> Tentative exp on Renovation is {{expren}}</h3>
<h3> Tentative exp on Equipments is {{expeqp}}</h3>
<h3>Grand Total of Tentative expenditure is  {{grandtotal}} Lakhs</h3>
</div>


</div>